@charset "UTF-8";
.red{
  background-color: #ca1019;
  width: 600px;
  height: 180px;
  position: relative;
}

.white{
  background-color: white;
  width: 450px;
  height: 90px;
  position: absolute;
  top: 45px;
  left: 100px;
  display: flex;
  gap: 10px;

}
.yellow1{
  background-color: #f4c538;
  width: 100px;
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
.yellow2{
  background-color: #f4c538;
  width: 100px;
  height: 70px;
  margin-top: 10px;
}

.green{
  background-color: #309c77;
  width: 420px;
  height: 480px;
  float:left;
  display: flex;
  flex-direction: column;

}
.item1{
  border: solid white 2px;
  flex-direction: column;
  position: relative;
  top: 40px;
  left: 50px;
}
.blue{
  background-color: #29b098;
  width: 180px;
  height: 480px;
  float: left;
}
.item2{
  position: relative;
  top: 60px;
  left: 50px;
  border: solid white 2px;

}
.item3{
  position: relative;
  top: 80px;
  left: 50px;
  border: solid white 2px;

}
.yellow{
  width:600px;
  height:100px;
  background-color: #f4d508;
  clear: left;

}